body {
  /* font-family: EksellDisplay F37Ginger; */
}
ul {
  padding-top: 2.5rem;
}
li {
  list-style-type: none;
  color: white;
  font-size: 1em;
  padding-right: 10px;
}
.navigation {
  background-color: #0f0b3d;
  height: 100vh;
  width: 10%;
  border: 2px solid green;
  border-radius: 15px 0px 15px 0px;
}
@media only screen and (max-width: 750px) {
  .navigation {
    display: none;
  }
}

.fas {
  height: 3rem;
  padding: 10px;
  color: white;
}

.fa-bars {
  padding-top: 2rem;
  padding-left: 0.9rem;
}
.Dashboard {
  margin-left: 5px;
}
.dashboard-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dashboard-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
.user-name {
  color: #ed3e5e;
}
.dashboard-subscript {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
.balance {
  background-color: #34c297;
  margin-top: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px 5px #999;
}
.profile {
  background-color: red;
  padding: 3px 5px 0px 5px;
  border-radius: 15px;
}
.current-balance {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: 20px;
  height: 25vh;
}
.currency {
  border: 2px solid #0887;
}
.currencies {
  background-color: #fffcfd;
  border-radius: 8px;
  box-shadow: 0px 0px 0px 0.5px;
  z-index: 1;
}
.currencies h1 {
  padding-top: 50px;
  font-size: 2rem;
}
.transactions {
  border: 3px solid green;
  height: 40vh;
  border-radius: 20px;
  width: 100%;
  margin-left: 30px;
}
